body{
    font-family: 'Bona Nova', serif;
    text-align: justify;
}
.color-orange{
    color: orange;
}
p{
    font-size: 30px;
}
.button-design{
    text-decoration: none;
    color: white;
    background-image:linear-gradient(tomato,yellow) ;
    border-radius: 40%;
    size: 40px;
    font-size: 200%;
}
.display{
    display: flex;
    margin: 2%;
}
.background-section1{
    background-image: url(images/shapes/Group\ 8450.png);
    background-position: left;
    
    
    background-size: 65%; 
    background-repeat: no-repeat;
}



.half-width{
    width: 50%;
    padding: 10px; 
}
.half-width img{
    width: 70%;
    padding: 3%;
}



h1{
    color:rgb(110, 108, 108);
}
h2{
    color:rgb(110, 108, 108);
}
.background-section2{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;

}
.text-position{
    text-align: center;
}
.recipie-text{
    color: black;
}
.box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   

  
    margin: 80px;
  border-radius: 10%;
}
.sec3-half-width{
    
    width: 50%;
    padding: 50px; 
}

.sec3-half-width img{
    width: 350px;
    
}
.sec3-background{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}


.ul{
    list-style:none;
  }
.li{
    margin: 15px 0;
    
  }
 .anchor{
    text-decoration:none;
    padding: 5px 10px;
    background: #1155AA;
    color:white;
    font-weight: bold;
    border-radius: 10px;
  }

